* {
    font-family: 'Mulish', sans-serif;
}

:root {
    --primary-color: #FF5400;
}

/* nav section */
.nav-box {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;

}

nav img {
    height: 56px;
    width: 48px;
}

nav ul {
    position: relative;
    left: 45%;
    display: flex;
    width: 510px;
    justify-content: space-between;
}

nav li {
    list-style: none;
}

.primary-title {
    font-size: 2.5rem;
    color: #131318;
    font-weight: 800;
}

#orange-color {
    color: var(--primary-color);
}

/* banner section */
.Banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/banner.png), no-repeat;
    max-width: 1170px;
    height: 500px;
    margin: auto;
    border-radius: 16px;
    align-items: center;
}

.input-box {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
}

#select-type {
    height: 52px;
}

.find-bar {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: fit-content;
    padding: 16px;
    position: relative;
    top: 30%;
    left: 18%;
    display: flex;
    gap: 24px;

}

.find-bar img {
    position: relative;
    left: 70px;
}

.main_btn {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
}

#Banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    max-width: 600px;
    position: relative;
    top: 22%;
    left: 25%;
}

#Banner-description {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    max-width: 670px;
    position: relative;
    top: 18%;
    left: 22%;
}

.popular-tours ,.popular-tours2 {
    margin: auto;
    width: 1170px;
    margin-top: 100px;
}

.popular-tours-content {
    display: flex;
    max-width: 1170px;
    margin: auto;
    justify-content: space-between;
}

.description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.popular-tours-content-text {
    max-width: 570px;
}

.popular-tours-content-text li {
    margin-top: 24px;
}

.destination, .why-choose-us,
.deals {
    margin: auto;
    text-align: center;
    max-width: 640px;
}

.gallary {
    width: 1170px;
    height: 1000px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 100px;
    border-radius: 16px;
}

.row-one,
.row-two,
.row-three {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    border-radius: 16px;
}


.service {
    margin: auto;
    width: 1170px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.worldclass {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.service-two {
    margin: auto;
    width: 1170px;
    display: flex;
    margin-top: 24px;
    justify-content: center;
}

.best-price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.service .description {
    max-width: 480px;
    padding: 32px;
    margin-top: 16px;
    padding-top: 0px;
}

.service-two .description {
    max-width: 480px;
    padding: 32px;
    margin-top: 16px;
    padding-top: 0px;
}

.service-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left: 32px;
    margin-bottom: 0px;
}

.service img,
.service-two img {
    padding-left: 32px;
    position: relative;
    top: 20px;
}

.news-letter {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.news-letter .news-letter-input {
    width: 393px;
    height: 52px;
}

.news-letter .news-letter-input {
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
    margin-top: 16px;
}

.news-letter .description {
    max-width: 390px;
}

.news-letter .service-title {
    padding-left: 0px;
}

.news-letter-form .main_btn {
    width: 393px;
    height: 52px;
    margin-top: 24px;
}

footer {
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
}

footer img {
    width: 40px;
    height: 46.673px;
}

.footer-logo {
    padding-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
}

footer p {
    max-width: 770px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.line {
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

footer .line {
    margin-top: 50px;
}

.Social {
    max-width: 174px;
    margin: auto;
    margin-top: 32px;
    text-align: center;
}

.Social img {
    width: 100%;
}

.lvl {
    width: 1170px;
    margin: auto;
}

.discount-tag {
    background: var(--primary-color);
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    text-align: center;
    padding-top: 15px;
    position: relative;
    left: 71%;
    bottom: 185px;


}

.discount-tag h3 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0px;
}

.discount-tag p {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 0px;
}

.main_btn:hover {
    color: blueviolet;
    background-color: lightpink;
    cursor: pointer;
}

.deals1 {
    width: 1170px;
    margin: auto;
    margin-bottom: 24px;
}

.deals-details {
    width: 570px;
    height: 390px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    position: absolute;
    transform: translate(90%, -120%);
}

.deals-details>ul {
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    padding-left: 10px;
}

.deals-details ul img {
    position: relative;
    top: 5px;
    right: 2px;
}

.deals-details>ul>li {
    list-style: none;
}

.deals-details .service-title {
    padding-left: 10px;
}

.deals-details p {
    padding-left: 10px;
}

.deals-details .main_btn {
    margin-top: 25px;
    margin-left: 10px;
}

.deals-details2 {
    width: 570px;
    height: 390px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    position: absolute;
    transform: translate(10%, -120%);
}

.deals-details2>ul {
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
    padding-left: 10px;
}

.deals-details2 ul img {
    position: relative;
    top: 5px;
    right: 2px;
}

.deals-details2>ul>li {
    list-style: none;
}

.deals-details2 .service-title {
    padding-left: 10px;
}

.deals-details2 p {
    padding-left: 10px;
}

.deals-details2 .main_btn {
    margin-top: 25px;
    margin-left: 10px;
}

#price {
    color: var(--primary-color);
}

.Packages {
    width: 1170px;
    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

.Packages .main_btn {
    width: 210px;
    height: 52px;
}

#place {
    color: #131318;
    max-width: 520px;
}
.review-pic{
width: 64px;
height: 64px;
}

@media screen and (max-width:600px) {
 
    .nav-box {
        width: 375px;
        margin-left: 0px;
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: none;
    }

    .Banner {
        background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/banner.png), no-repeat;
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: 50%;
    }

    #Banner-title {
        font-size: 2rem;
        font-weight: 800;
        position: relative;
        top: 5%;
        left: 12%;
    }

    #Banner-description {
        position: relative;
        top: 5%;
        left: -1%;
        font-size: 0.8rem;
    }

    .popular-tours {
        margin-top: 0px;
        margin-left: 10px;
    }
    .popular-tours .main_btn{
        position: absolute;
        transform: translate(100px , -400px);
    }

    .find-bar {
        width: 287px;
        padding: 16px;
        flex-direction: column;
        position: relative;
        top: 30%;
        left: 25%;
    }
    .find-bar img{
        position: absolute;
        /* border: 1px solid red; */
        transform: translate(-40px, 1000%);
    }

    .popular-tours-content {
        flex-direction: column;
        max-width: 390px;
        margin-left: 0px;
    }

    .popular-tours-content img {
        width: 335px;
        height: 342px;
        margin: auto;
        margin-top: 30px;
    }

    .row-one,
    .row-two,
    .row-three {
        flex-direction: column;
    }

    .row-one img,
    .row-two img,
    .row-three img {
        width: 100%;
    }
    .gallary{
        flex-direction: column;
        gap: 20px;
        width: 335px;
        height: 176px;
    }
    .news-letter {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .news-letter img {
        /* width: 100%; */
        /* align-items: center; */
        margin: auto;
    }
    .deals1>img{
        width: 390px;
        height: 500px ;
        margin-top: 20px;
        margin-left: 10px;
    }
.deals , .deals1 {
    position: relative;
    top: 1250px;
}
    .deals-details,.deals-details2{
        width: 300px;
    }
.deals-details{
    position: absolute;
    transform: translate(5%,-120%);
}
.Packages .main_btn{
    position: absolute;
    transform: translate(-250%, 1250px);
}
    .service , .service-two{
        flex-direction: column;
        max-width: 390px;
    }
    .why-choose-us{
        position: relative;
        top: 1320px;
    }
    .service,.service-two{
        position: relative;
        top: 1240px;
    }
    .popular-tours2{
        position: relative;
        top: 1240px;
    }
    .popular-tours2 .main_btn{
        position:absolute;
        transform: translate(100px ,10px);
    }
    .news-letter{
        position: relative;
        top: 1240px;
        margin-top: 100px;
        margin-left: 10px;
    }
    footer{
        position: relative;
        top: 1240px;
        margin-left: 10px;
    }
    .lvl{
        position: relative;
        right: 800px;
        top: 1280px;

    }
    .news-letter img{
        width: 100%;
        margin-top: 20px;
    }

}